<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         version="4.0">

    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>org.example.Authentication</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/Authentication</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>

</web-app>